.navbar-menu {
  background: rgb(2, 70, 24);
  background: radial-gradient(
    circle,
    rgba(2, 70, 24, 1) 0%,
    rgba(2, 59, 37, 1) 51%,
    rgba(38, 58, 45, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 180px;
  height: 40px;
  margin-right: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu li {
  margin-right: 20px;
}

.user-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgb(2, 70, 24);
  background: radial-gradient(
    circle,
    rgba(2, 70, 24, 1) 0%,
    rgba(2, 59, 37, 1) 51%,
    rgba(38, 58, 45, 1) 100%
  );
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 0;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid white;
  }

  .user-icon {
    display: block;
    font-size: 30px;
  }
}
